/* --- Global Layout for each page ---*/

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(81, 27, 78, 0.6);
    color: #222222;
}

.page-wrap {
    max-width: 1400px;
    margin: 0 auto;
    background: #ffffff;
    min-height: 100vh;
}

.nav-top {
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(151, 72, 147, 0.6)
    
}

.logo {
}

.nav-links {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
}

.nav-links a:hover {
    text-decoration: underline;
}

.content-column {
    padding: 2rem 2.5rem 3rem;
}

.placeholder {
    background: rgba(12, 12, 12, 0.6);
    border: 1px solid rgba(6, 6, 6, 0.6);
}