/* --- Global Layout for each page ---*/

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(81, 27, 78, 0.6);
    color: #cec6cc;
    
}

.page-wrap {
    max-width: 1400px;
    margin: 0 auto;
    background: #5b4a5f;
    min-height: 100vh;
}

.navtop {
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(20, 6, 20, 0.6);
    color: #cec6cc;
}

.logo {
}

.nav-links {
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
    color: #cec6cc;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
}

.nav-links a:hover {
    text-decoration: underline;
}

.content-column {
    padding: 2rem 2.5rem 3rem;
}

.placeholder {
    background: rgba(12, 12, 12, 0.6);
    border: 1px solid rgba(6, 6, 6, 0.6);
}

.banner {
    margin-bottom: 2rem;
    padding: 4rem 1rem;
    text-align: Center;
}

#banner-image {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.hook-row {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid rgba(12, 12, 12, 0.6);
    padding: 2rem 0;
}

.hook-row:nth-of-type(even) {
    flex-direction: row-reverse;
}

/*-- TIL that just putting in 'flex' lets you just shorthand flex-grow, flex-shrink, and flex-basic --*/

.hook-image {
    flex: 0 0 40%;
    padding: 3rem 1rem;
    align-items: left;
    background: rgba(12, 12, 12, 0.2);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.hook-text {
    padding: 1.5rem 0.5rem;
    border: 1px solid rgba(12, 12, 12, 0.6);
    font-size: 0.95rem; 
    line-height: 1.6;
}

.hook-text p {
    margin-top: 0;
    font-size: 1.2rem;
}

.hook:hover .hook-image,
.hook:hover .hook-text {
    transform: translateY(2px);
    opacity: 0.95;
}