main {
    width:90%;
    max-width: 1200px;
    margin: 0 auto;

}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 0.8rem;
    font-style: italic;
}

p {
    font-size: 1.1rem;
    line-height: 2.2rem;
}

p, h1, h2 {
			white-space: pre-line;
			position: relative;
}

.container {
			display: grid;
			grid-template-columns: auto auto auto;
			background-color: transparent;
			padding: 10px;
			
		}

.container > div {
			background-color:rgb(218, 220, 221);
			padding: 10px;
			font-size: 1.4rem;
			text-align: justify;
		

}
.callout {

    line-height: 1.2rem;
    font-style: italic;
    float: right;
}

#callout1 p {
    width: 30%;
    float: left;
}

#row1 p {
    margin-left: calc(100% * 2 / 6);
}


#row3 p {
    margin-left: calc(100% * 1 / 6);
}
#row5 p {
    margin-bottom: calc(80% * 1 / 9);
    margin-right: calc(80% * 2 / 13);
}