main {
    width:90%;
    max-width: 1200px;
    margin: 0 auto;

}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 0.8rem;
    font-style: italic;
}

p {
    font-size: 1.1rem;
    line-height: 2.2rem;
}

p, h1, h2 {
			
			white-space: pre-line;
	margin: 10px;
}

section {
	margin: 1rem;
	line-height: 2rem;
	margin-top: auto
}

.container {
			
			
		}


		

.callout {
    display: grid;
	grid-template-rows: min-content;
	padding: 10px;
    line-height: 1.4rem;
    font-style: italic;
    background-color:rgb(218, 220, 221);
	padding: 40px;
	font-size: 2rem;
	text-align: justify;
	max-width: 500px;
	border: solid black
}

#callout1 {
	float: right;
}

#callout2 {
	float: left;
}

#callout3 {
	float: left;
}

#callout4 {
    float: right;
}

#callout1,
#callout2,
#callout3,
#callout4 {
text-align: center;

    
}

#row1 p {
    margin-right: calc(100% * 1 / 20);
    margin-bottom: 20px;
}

#row2 p {
    margin-right: auto;
}

#row3 p {
    margin-right: calc(100% * 1 / 20);
	margin-bottom: 20px;
}

#row4 p {
	margin-right: calc(100% * 1 / 10);
    margin-bottom: 20px;
}

#row5 p {
    margin-bottom: calc(100% * 2 / 13);
    margin-right: calc(80% * 2 / 13);
}









/* *********************************************/
/* CSS for index1                              */
/***********************************************/

/* Time to inherit some baselines!*
