main {
    width:90%;
    max-width: 1200px;
    margin: 0 auto;

}

h1 {
    font-size: 2.5rem
}

h2 {
    font-size: 0.8rem;
    font-style: italic;
}

p {
    font-size: 1.1rem;
    line-height: 2.2rem;
    margin: 1rem;
	margin-top: auto;
    white-space: pre-line;
}

p, h1, h2 {
			
			
	margin: 10px;
}

section {
	margin: 1rem;
	line-height: 2rem;
	margin-top: auto
}


		

.callout {
    display: grid;
	grid-template-rows: min-content;
	padding: 10px;
    line-height: 1.4rem;
    font-style: italic;
    background-color:rgb(218, 220, 221);
	padding: 40px;
	font-size: 2rem;
	text-align: justify;
	max-width: 500px;
	border: solid black
}

#callout1 {
	float: right;
}

#callout2 {
	float: left;
}

#callout3 {
	float: left;
}

#callout4 {
    float: right;
}

#callout1,
#callout2,
#callout3,
#callout4 {
text-align: center;

    
}

#row1 p {
    margin-right: calc(100% * 1 / 20);
    margin-bottom: 20px;
}

#row2 p {
    margin-right: auto;
}

#row3 p {
    margin-right: calc(100% * 1 / 20);
	margin-bottom: 20px;
}

#row4 p {
	margin-right: calc(100% * 1 / 10);
    margin-bottom: 20px;
}

#row5 p {
    margin-bottom: calc(100% * 2 / 13);
    margin-right: calc(80% * 2 / 13);
}









/* *********************************************/
/* CSS for index2                              */
/***********************************************/

/* Time to inherit some baselines!*/

#secondLayout main {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 6) );
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    'title title title'
    'p1 c1 p2'
    'p3 c2 p4'
    'p5 c3 p6'
    'c4 c4 c4'
}

#secondLayout #entitledrow { grid-area: title; }
#secondlayout #para1 { grid-area: p1; }
#secondlayout #para2 { grid-area: p2; }
#secondlayout #para3 { grid-area: p3; }
#secondlayout #para4 { grid-area: p4; }
#secondlayout #para5 { grid-area: p5; }
#secondlayout #para6 { grid-area: p6; }
#secondlayout #callout1 { grid-area: c1; }
#secondlayout #callout2 { grid-area: c2; }
#secondlayout #callout3 { grid-area: c3; }
#secondlayout #callout4 { grid-area: c4; }

#secondLayout p {
    width: 100%
}

