body {
    background:
        radial-gradient(
            circle at center,
            rgba(58, 52, 40, 1) 0%,
            rgba(42, 37, 29, 1) 40%,
            rgba(20, 17, 13, 1) 70%,
            rgba(0, 0, 0, 1) 100%
        );
}

#BigShell {
    display: grid;
    grid-template-columns: 280px 1fr 360px;
    grid-template-rows: auto 1fr auto auto;
    gap: 24px;
    align-items: start;

    grid-template-areas:
        "jobinfo header guide"
        "jobinfo calculator guide"
        "jobinfo results guide"
        "explanation explanation explanation";
}

#HeaderPanel { grid-area: header; }
#calculatorPanel { grid-area: calculator; }
#results { grid-area: results; }
#jobInfoPanel { grid-area: jobinfo; }
#guidePanel { grid-area: guide; }
#explanation { grid-area: explanation; }


#HeaderPanel, #calculatorPanel, #results, #jobInfoPanel, #guidePanel, #explanation {
    border: 2px solid #444;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
}


#HeaderPanel { background: rgba(255, 0, 0, 0.5);
border: dotted rgba(255, 0, 0, 0.7) }

#calculatorPanel { background: rgba(0, 255, 0, 0.5);
border: dotted rgba(0, 255, 0, 0.7); }

#results { background: rgba(0, 0, 255, 0.5);
border: dotted rgba(255, 255, 0, 0.7) }

#jobInfoPanel { background: rgba(255, 255, 0, 0.5);
border: dotted rgba(255, 127, 0, 0.7) }

#guidePanel { background: rgba(255, 0, 255, 0.5);
border: dotted rgba(255, 255, 166, 0.7) }

#explanation { background: rgba(0, 255, 255, 0.5);
border: dotted rgba(255, 0, 255, 0.7) }

.jobHeader {
    display: flex;
    align-items: center;
    gap: 12px;
}

.jobSprites {
    display: flex;
    gap: 4px;
}

.jobSprites img {
    width: 32px;
    height: 36px;
    image-rendering: pixelated;
    object-fit: contain;
    background: rgba(0,0,0,0.2);
}