* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
}

/* grid */

.display {
    width: min(420px, 90vw);
    aspect-ratio: 1 / 1;        /* board will maintain square shape regardless of size */

    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* for 3 columns */
    gap: 10px;

    padding: 10px;
    border: 2px solid #fff;
}

.space {
    border: 2px solid black;
    display: grid;

}
