body {
   
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0f0f0f;
    color:whitesmoke;
    height: 550vh; 
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("hindenburg.png");

}

#titleheader {
    width: fit-content;
    box-sizing: border-box;
    background-color: rgba(31, 31, 31, 0.8);
    border: solid aliceblue;
}

.cornerfoot {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.75rem;
    color: rgba(254, 254, 254, 0.8);
    pointer-events: none; 
}

section {
    position: relative;
    height: 100vh;
}

.textinside {
    position: absolute;
    top: 30vh;
    right: 2vh;
    width: 50vw;

}

.textinside p {
    color: whitesmoke;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 2rem;
    max-width: 100%;
    width: fit-content;
    box-sizing: border-box;
    background-color: rgba(31, 31, 31, 0.8); /* Making the background of the text only slightly transparent */
    border: solid aliceblue;
}


h2 {
    text-align: center;
    font-size: 2rem;
    
}

#title {
    text-align: center;
    font-size: 3rem;

}

.textinside2 p {
    color: whitesmoke;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 2rem;
    max-width: 100%;
    width: fit-content;
    box-sizing: border-box;
    background-color: rgba(31, 31, 31, 0.8); /* Making the background of the text only slightly transparent */
    border: solid aliceblue;
    align-content: center;
}