body {
   
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0f0f0f;
    color:whitesmoke;
    height: 550vh; 
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("hindenburg.png");

}

.cornerfoot {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.75rem;
    color: rgba(254, 254, 254, 0.8);
    pointer-events: none; 
}

section {
    position: relative;
    height: 100vh;
}

.textinside {
    position: absolute;
    top: 30vh;
    right: 2vh;
    width: 50vw;

}

@scroll-timeline fadein-timeline {
    source: auto;
    orientation: block;
}

.textinside p {
    color: whitesmoke;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 2rem;
    max-width: 100%;
    width: fit-content;
    box-sizing: border-box;
    background-color: rgba(31, 31, 31, 0.8); /* Making the background of the text only slightly transparent */
    border: solid aliceblue;
    
    /* starts hidden */
    opacity: 0;

    /* fades in with scrolling via animation */
    animation: fadein 1s linear both;
    animation-timeline: fadein-timeline;
    animation-range: entry 0% cover 30%;

}

/* fading in keys. this is just a test implementation from a resource I found so if it doesn't work I'll just cut my losses */
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

h2 {
    text-align: center;
    font-size: 2rem;
    border: solid whitesmoke;
}

#title {
    text-align: center;
    font-size: 3rem;
    border: solid whitesmoke;

}

@scroll-timeline fadein-timeline {
    source: auto;
    orientation: block;
}

.textinside2 p {
    color: whitesmoke;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 2rem;
    max-width: 100%;
    width: fit-content;
    box-sizing: border-box;
    background-color: rgba(31, 31, 31, 0.8); /* Making the background of the text only slightly transparent */
    border: solid aliceblue;
    align-content: center;
     /* starts hidden */
    opacity: 0;

    /* fades in with scrolling via animation */
    animation: fadein 1s linear both;
    animation-timeline: fadein-timeline;
    animation-range: entry 0% cover 30%;

}

/* fading in keys. this is just a test implementation from a resource I found so if it doesn't work I'll just cut my losses */
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

