* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(69, 87, 87);
    color: #0f0f0f;
    place-items: center;
}

h1 {
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
}

/* grid */

.display {
    width: min(520px, 92vw);

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));  /* for 4 columns */
    gap: 10px;
    background-color: rgba(34, 30, 43, 0.596);

    padding: 10px;
    border: 2px solid #000000;
}

.card {
    position: relative;
    border: 2px solid black;
    border-radius: 12px;
    display: grid;
    aspect-ratio: 745 / 1040;
    overflow: hidden;

    place-items: center;
    
    min-width: 0;
   
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
    transition: opacity 0.5s ease;
}
/* The front is hidden with 0 opacity. The :hover element swaps their positioning in an easing motion as stated above.*/
.front {
    opacity: 0;
}

.back {
    opacity: 1;
}

.card:hover .front {
    opacity: 1;
}

.card:hover .back {
    opacity: 0;
}

