* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
    color: #0f0f0f;
    place-items: center;
}

h1 {
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
}

/* grid */

.display {
    width: min(520px, 92vw);

    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* for 4 columns */
    gap: 10px;

    padding: 10px;
    border: 2px solid #000000;
}

.card {
    border: 2px solid black;
    border-radius: 12px;
    display: grid;

    font-size: clamp(2.5rem, 8vw, 4rem);
    font-weight: bold;
    place-items: center;
    
   
}